
/* body{
display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */
.title{
    height: 120px;
    font: italic 5em "Fira Sans", serif;
    font-weight: lighter;
    color: gray;
    width: 100%;
    
}

.input{
    width: 70%;
}

.filter{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 200px;
    /* z-index: 5; */
}
.result{
    margin-top: 30px;
    z-index: 0;
}